%h1 
  Welcome Admin 
  = current_user.email


%table
  %tr
    %th Angelegte Benutzer
  %tr    
    - @users.each do |user|
      %tr
        %td  
          = user.first_name
        %td
          = user.last_name
        %td
          = user.email  
        %td
          = link_to "edit", edit_admin_user_path

= link_to "neuer Nutzer", new_admin_user_path
