%table
  %tr
    %th Touren
  %tr    
    - @tours.each do |tour|
      %tr
        %td  
          = tour.tour_name
        %td
          = tour.band_name
        %td
          = link_to "edit tour", edit_admin_tour_path(tour)
        %td
          = link_to "delete tour", admin_tour_path(tour), method: :delete, data: { confirm: 'Are you sure?' }

= link_to "neue Tour anlegen", new_admin_tour_path
