.col.text-right
  %span=link_to "Print Day Sheet", admin_tour_day_print_path(@tour_day, :format => :pdf), :target => "_blank", :class=>"btn btn-outline-secondary btn-sm mb-2"
.card
  = render :partial => "admin/shared/tour_day_info"

  = render :partial => "admin/venues/show"
  = render :partial => "admin/travel_schedules/show"
  = render :partial => "admin/show_schedules/show"
  = render :partial => "admin/promo_schedules/show"
  = render :partial => "admin/contacts/show"
  = render :partial => "admin/productions/show"
  = render :partial => "admin/hotels/index"
  = render :partial => "admin/cargos/show"
