%h2 Tour Day 
= render :partial => "admin/shared/tour_info"

%h3 Tour Day Infos

= render :partial => "admin/shared/tour_day_info"

%td= link_to "edit Tour Day", edit_admin_tour_day_path(@tour_day)

%h3 Venue
.venue
  -unless @tour_day.venue.nil?
    = render :partial => "admin/venues/venue", :locals => {venue: @tour_day.venue}
    = link_to "edit venue", edit_admin_venue_path(@tour_day.venue)
  -else
    = "no venue"
    = link_to "creat venue", new_admin_tour_day_venue_path(@tour_day)

%h3 Production
.production
  -unless @tour_day.production.nil?
    = render :partial => "admin/productions/production", :locals => {production: @tour_day.production}
    = link_to "edit production", edit_admin_production_path(@tour_day.production)
  -else
    = "no production"
    = link_to "creat production", new_admin_tour_day_production_path(@tour_day)

%h3 Cargo
.cargo
  -unless @tour_day.cargo.nil?
    = render :partial => "admin/cargos/cargo", :locals => {cargo: @tour_day.cargo}
    = link_to "edit cargo", edit_admin_cargo_path(@tour_day.cargo)
  -else
    = "no cargo"
    = link_to "creat cargo", new_admin_tour_day_cargo_path(@tour_day)

