.card
  = render :partial => "admin/shared/tour_day_info"

  = render :partial => "admin/venues/show"
  = render :partial => "admin/travel_schedules/show"
  = render :partial => "admin/show_schedules/show"
  = render :partial => "admin/promo_schedules/show"
  = render :partial => "admin/productions/show"
  = render :partial => "admin/primary_hotels/show"
  = render :partial => "admin/secondary_hotels/show"
  = render :partial => "admin/driver_hotels/show"
  = render :partial => "admin/cargos/show"
