%table
  %tr 
    %td 
      %strong Drop Off
    %td
  %tr
    %td Time
    %td= cargo.time_drop_off
  %tr
    %td Contact 
    %td= cargo.contact_drop_off
  %tr
    %td Licence Plate 
    %td= cargo.licence_plate_drop_off
  %tr
    %td Amount
    %td= cargo.amount_drop_off
  %tr 
    %td 
      %strong Pickup
    %td
  %tr
    %td Time
    %td= cargo.time_pick_up
  %tr
    %td Contact 
    %td= cargo.contact_pick_up
  %tr
    %td Licence Plate 
    %td= cargo.licence_plate_pick_up
  %tr
    %td Amount
    %td= cargo.amount_pick_up
  %tr
    %td Comment
    %td= cargo.comment