%h6 Drop Off
%table{:class=>"table table-striped mb-4"}
  %tr
    %th.w-25 Time
    %td= cargo.time_drop_off
  %tr
    %th Contact
    %td= cargo.contact_drop_off
  %tr
    %th Licence Plate
    %td= cargo.licence_plate_drop_off
  %tr
    %th Amount
    %td= cargo.amount_drop_off
  %tr
    %th Comment
    %td= cargo.comment_drop_off


%h6 Pickup
%table{:class=>"table table-striped mb-4"}
  %tr
    %th.w-25 Time
    %td= cargo.time_pick_up
  %tr
    %th Contact
    %td= cargo.contact_pick_up
  %tr
    %th Licence Plate
    %td= cargo.licence_plate_pick_up
  %tr
    %th Amount
    %td= cargo.amount_pick_up
  %tr
    %th Comment
    %td= cargo.comment_pick_up
