%tr
  %th= item.name
  %td= item.for_whom
  %td= item.number
  %td= item.origin
  %td= item.destination
  %td= l(item.start_time, :format => :time) if item.start_time
  %td= l(item.departure_datetime, :format => :long) if item.departure_datetime
  %td= l(item.arrival_datetime, :format => :long) if item.arrival_datetime
  %td= item.duration
  %td= item.comment
  - unless print
    %td
      %div{:class=>"btn-toolbar"}
        %div{:class=>"btn-group mr-2"}
          =link_to "edit", edit_admin_travel_schedule_item_path(item), :class=>"btn btn-info btn-sm"
          =button_to "delete", admin_travel_schedule_item_path(item), method: :delete, :data => {confirm: "are you sure?"}, :class=>"btn btn-danger btn-sm"
