%tr.row
  %td.col-1
    = item.name
  %td.col-2
    = item.for_whom
  %td.col-1
    = item.number
  %td.col-1
    = item.origin
  %td.col-1
    = item.destination
  %td.col-1
    = l(item.departure_datetime, :format => :long) if item.departure_datetime
  %td.col-1
    = l(item.arrival_datetime, :format => :long) if item.arrival_datetime
  %td.col-1
    = item.comment
