.card
  = render :partial => "admin/shared/tour_info"
  .card-block
    - if @crew_members.empty?
      %h4{:class =>"card-title"}
        Crew
      .text-center
        %p.card-textWith There have been no crew members assigned to the tour yet
        =link_to "Assign Crew Members", assign_crew_members_admin_tour_path(@tour), :class=>"btn btn-success"
    - else
      %h4{:class =>"card-title"}
        Crew
        %span=link_to "Edit Crew", assign_crew_members_admin_tour_path(@tour), :class=>"btn btn-outline-primary btn-sm ml-4"
      %ul
        - @crew_members.each do |cm|
          %li= cm.name
      
  .card-block
    - if @tour_days.blank?
      %h4{:class =>"card-title"}
        Tour Days
      .text-center
        %p.card-textWith There have been no crew members assigned to the tour yet
        =link_to "Add Tour Days", new_admin_tour_tour_day_path(@tour), :class=>"btn btn-success"
    - else
      %h4{:class =>"card-title"}
        Tour Days
        %span=link_to "Add Tour Days", new_admin_tour_tour_day_path(@tour), :class=>"btn btn-outline-primary btn-sm ml-4"
      %table{:class=>"table table-striped col-12 mb-4"}
        %thead
          %tr.row
            %td.col-2 Show Date
            %td.col-5 Show Name
            %td.col-3
        - @tour_days.each do |td|
          %tr.row
            %td.col-2= td.date.to_s(:le)
            %td.col-5= link_to "#{td.show_name} (#{td.city}, #{td.country})", admin_tour_day_path(td)
            %td.col-3
              %div{:class=>"btn-toolbar"}
                %div{:class=>"btn-group mr-2"}
                  = link_to "edit Tour Day", edit_admin_tour_day_path(td), :class=>"btn btn-info btn-sm"
                %div{:class=>"btn-group mr"}
                  = link_to "delete Tour Day", admin_tour_day_path(td), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm"
