%table
  %tr 
    %td 
      %strong Main Contact
    %td
  %tr
    %td Name
    %td= production.main_contact_name
  %tr
    %td Phone 
    %td= production.main_contact_phone
  %tr
    %td Email
    %td= production.main_contact_email
  %tr 
    %td 
      %strong Production Contact
    %td
  %tr
    %td Name
    %td= production.prod_contact_name
  %tr
    %td Phone 
    %td= production.prod_contact_phone
  %tr
    %td Email
    %td= production.prod_contact_email
  %tr 
    %td 
      %strong Hospitality Contact
    %td
  %tr
    %td Name
    %td= production.hosp_contact_name
  %tr
    %td Phone 
    %td= production.hosp_contact_phone
  %tr
    %td Email
    %td= production.hosp_contact_email
  %tr 
    %td 
      %strong Stage Manager
    %td
  %tr
    %td Name
    %td= production.stage_manager_name
  %tr
    %td Phone 
    %td= production.stage_manager_phone
  %tr
    %td Email
    %td= production.stage_manager_email
  %tr 
    %td 
      %strong more info
    %td
  %tr
    %td Stage Size
    %td= production.stage_size
  %tr
    %td Local Backline 
    %td= production.local_backline
  %tr
    %td Access Notes
    %td= production.access_notes
  %tr
    %td Loading Notes
    %td= production.loading_notes
  %tr
    %td Credential Notes
    %td= production.credential_notes
  %tr
    %td Comment
    %td= production.comment
