%table{:class=>"table table-striped mb-4"}
  %tr
    %th.w-25 Stage Size
    %td= production.stage_size
  %tr
    %th Local Backline
    %td= production.local_backline
  %tr
    %th Access Notes
    %td= production.access_notes
  %tr
    %th Loading Notes
    %td= production.loading_notes
  %tr
    %th Credential Notes
    %td= production.credential_notes
  %tr
    %th Comment
    %td= production.comment
