%table{:class=>"table table-striped col-8 mb-4"}
  %tr.row
    %td.col-10 
      %h6 Main Contact
    %td
  %tr.row
    %td.col-3 Name
    %td.col-3 Phone    
    %td.col-3 Email
  %tr.row
    %td.col-3= production.main_contact_name
    %td.col-3= production.main_contact_phone
    %td.col-3= production.main_contact_email
  %tr.row
    %td.col-10 
      %h6 Production Contact
  %tr.row
    %td.col-3 Name
    %td.col-3 Phone    
    %td.col-3 Email  
  %tr.row
    %td= production.prod_contact_name
    %td= production.prod_contact_phone
    %td= production.prod_contact_email
  %tr.row
    %td.col-10 
      %h6 Hospitality Contact
  %tr.row
    %td.col-3 Name
    %td.col-3 Phone    
    %td.col-3 Email   
  %tr.row
    %td.col-3= production.hosp_contact_name
    %td.col-3= production.hosp_contact_phone
    %td.col-3= production.hosp_contact_email
  %tr.row
    %td.col-10 
      %h6 Stage Manager
  %tr.row
    %td.col-3 Name
    %td.col-3 Phone    
    %td.col-3 Email   
  %tr.row 
    %td.col-3= production.stage_manager_name
    %td.col-3= production.stage_manager_phone
    %td.col-3= production.stage_manager_email
  %tr.row
    %td.col-2 Stage Size
    %td.col-6= production.stage_size
  %tr.row
    %td.col-2 Local Backline 
    %td.col-6= production.local_backline
  %tr.row
    %td.col-2 Access Notes
    %td.col-6= production.access_notes
  %tr.row
    %td.col-2 Loading Notes
    %td.col-6= production.loading_notes
  %tr.row
    %td.col-2 Credential Notes
    %td.col-6= production.credential_notes
  %tr.row
    %td.col-2 Comment
    %td.col-6= production.comment
