#tour_day
  = render :partial => "tour_days/tour_day_info"
  .row.mx-0.text-center.text-muted
    .col
      %h3.card-title.pt-2.mb-2
        =fa_icon("address-book")
        Contact
  .card.rounded-0.border-0
    .row.bg-primary
      .col.text-white.mx-4.mt-2
        %h5 Main
    .card-block
      .row
        .col= @contact.main_contact_name
      .row
        .col= @contact.main_contact_phone
      .row
        .col= @contact.main_contact_email
    .row.bg-primary
      .col.text-white.mx-4.mt-2
        %h5 Production
    .card-block
      .row
        .col= @contact.prod_contact_name
      .row
        .col= @contact.prod_contact_phone
      .row
        .col= @contact.prod_contact_email
    .row.bg-primary
      .col.text-white.mx-4.mt-2
        %h5 Hospidality
    .card-block
      .row
        .col= @contact.hosp_contact_name
      .row
        .col= @contact.hosp_contact_phone
      .row
        .col= @contact.hosp_contact_email
    .row.bg-primary
      .col.text-white.mx-4.mt-2
        %h5 Stage
    .card-block
      .row
        .col= @contact.stage_manager_name
      .row
        .col= @contact.stage_manager_phone
      .row
        .col= @contact.stage_manager_email
