%table{:class=>"table table-striped mb-4"}
  %tr
    %th.w-25 Venue Name
    %td= venue.venue_name
  %tr
    %th Address
    %td= "#{venue.address_1}, #{venue.address_2}"
  %tr
    %th City / Country
    %td= "#{venue.zip_code}, #{venue.city}, #{venue.country}"
  %tr
    %th URL
    %td= venue.url
  %tr
    %th Venue Type
    %td= venue.venue_type
  %tr
    %th Slot
    %td= venue.slot
  %tr
    %th Stage Name
    %td= venue.stage
  %tr
    %th Capacity
    %td= venue.capacity
  %tr
    %th Sales
    %td= venue.sales
  %tr
    %th Comment
    %td= venue.comment
