%table
  %tr
    %td Venue Name
    %td= venue.venue_name
  %tr
    %td Address 1
    %td= venue.address_1
  %tr
    %td Address 2
    %td= venue.address_2
  %tr
    %td ZipCode
    %td= venue.zip_code
  %tr
    %td City
    %td= venue.city
  %tr
    %td Country
    %td= venue.country
  %tr
    %td URL
    %td= venue.url
  %tr
    %td Event type
    %td= venue.event_type
  %tr
    %td Slot
    %td= venue.slot
  %tr
    %td Stage
    %td= venue.stage
  %tr
    %td Capacity
    %td= venue.capacity
  %tr
    %td Sales
    %td= venue.sales
  %tr
    %td Comment
    %td= venue.comment
