%tr.row
  %td.col-2
    = item.name
  %td.col-2
    = item.for_whom
  %td.col-1
    = l(item.start_time, :format => :time) if item.start_time
  %td.col-1
    = l(item.end_time, :format => :time) if item.end_time
  %td.col-2
    = item.comment
  %td.col-1
    =link_to "edit", edit_admin_show_schedule_item_path(item)
    =button_to "delete", admin_show_schedule_item_path(item), method: :delete, :data => {confirm: "are you sure?"}
