.card.rounded-0.border-0
  .row.bg-primary
    .col.text-white.mx-4.mt-2
      %h5=title
  .card-block
    .row
      .col-3 Hotel Name
      .col-9= hotel.hotel_name
    .row
      .col-3 Address
      .col-9
        = hotel.address_1
        = hotel.address_2
        = "#{hotel.zip_code} #{hotel.city}"
        = hotel.country
    .row
      .col-3 In / Out
      .col-9= "#{l(hotel.check_in_date, :format => :date) if hotel.check_in_date} to #{l(hotel.check_out_date, :format => :date) if hotel.check_out_date}"
    .row
      .col-3 Nights
      .col-3= hotel.number_of_nights
      .col-3 Breakfast
      .col-3= hotel.breakfast
    .row
      .col-3 Singles
      .col-3= hotel.single_rooms
      .col-3 Twins
      .col-3= hotel.twin_rooms
    - unless hotel.comment.blank?
      .row.mt-2
        .col comment:
      .row  
        .col=hotel.comment