.row
  .col-1
    = item.name
  .col-2
    = item.for_whom
  .col-1
    = item.destination
  .col-1
    = l(item.start_time, :format => :time) if item.start_time
  .col-1
    = l(item.end_time, :format => :time) if item.end_time
  .col-2
    = item.contact
  .col-2
    = item.comment
  .col-1
    =link_to "edit", edit_admin_promo_schedule_item_path(item)
    =button_to "delete", admin_promo_schedule_item_path(item), method: :delete, :data => {confirm: "are you sure?"}
