%table{:class=>"table table-striped mb-4"}
  %tbody
    %tr
      %th.w-25 Hotel Name
      %td= hotel.hotel_name
    %tr
      %th Address
      %td= "#{hotel.address_1}, #{hotel.address_2}"
    %tr
      %th City / Country
      %td= "#{hotel.zip_code}, #{hotel.city}, #{hotel.country}"
    %tr
      %th Check-In Date
      %td= l(hotel.check_in_date, :format => :date) if hotel.check_in_date
    %tr
      %th Check-Out Date
      %td= l(hotel.check_out_date, :format => :date) if hotel.check_out_date
    %tr
      %th Number of Nights
      %td= hotel.number_of_nights
    %tr
      %th Rooms (Single / Twin)
      %td= "#{hotel.single_rooms} / #{hotel.twin_rooms}"
    %tr
      %th Breakfast
      %td= hotel.breakfast
    %tr
      %th Comment
      %td= hotel.comment
