%h3.card-header 
  = link_to "#{@tour_day.show_name} (#{@tour_day.city}, #{@tour_day.country})", admin_tour_day_path(@tour_day)
  %small.text-muted
    = @tour_day.date.to_s(:le)
    = link_to @tour_day.tour.tour_name, admin_tour_path(@tour_day.tour)