%h3.card-header
  .row
    .col
      = @tour_day.show_name + "(#{@tour_day.city}, #{@tour_day.country})"
    .col.text-right
      %span.badge.badge-default=  print ? "day sheet" : @tour_day.type_of_day
  .row
    .col
      %small= @tour_day.date.to_s(:le)
  .row
    .col
      %small
        = @tour_day.tour.band_name + ", "
        = print ? @tour_day.tour.tour_name : (link_to @tour_day.tour.tour_name, admin_tour_path(@tour_day.tour))
    - unless print
      .col-1.text-right
        = link_to admin_tour_path(@tour_day.tour) do
          = fa_icon ("chevron-left")
      .col-1.text-right
        = link_to admin_tour_path(@tour_day.tour) do
          = fa_icon ("chevron-right")
