!!!
%html
  %head
    %title big size BIG TOUR big nice
    = csrf_meta_tags
    = render :partial => "layouts/meta_tags"
    // prevent scaling
    %meta{:content=>'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', :name=>'viewport'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render :partial => "layouts/favicon"
  %body#crew
    .container.px-0.w-100= yield 
    = render "layouts/crew/page_footer"